.main
{
  padding: 20px;
}


.main_container
{
    margin: 0 auto;
		height: 300px;
		width: 300px;
		background: yellow;
}

.choose_swatch
{
  width: 70%;
  margin: 10px auto;
  position: relative;
  text-align: center;
}

.swatch
{
  width: 200px;
  height: 200px;
  background: yellow;
  display: inline-block;
  margin: 10px;
}
html, body
{
margin: 0;
padding: 0;
height:100%;
}

@media (max-width: 500px)
{
	.header h1
	{
		text-align: center;
	}
}
