.main
{
  padding: 20px;
}
.main_container
{
    margin: 0 auto;
		height: 300px;
		width: 300px;
		background: #100d95;
}
.choose_swatch
{
  width: 70%;
  margin: 10px auto;
  position: relative;
  text-align: center;
}
.swatch
{
  width: 200px;
  height: 200px;
  background: yellow;
  display: inline-block;
  margin: 10px;
}
#first
{
  background: #100d95;
}
#second
{
  background: #1a0d95;
}
#third
{
  background: #1a1795;
}
#fourth
{
  background: #241795;
}
html, body
{
margin: 0;
padding: 0;
height:100%;
}

@media (max-width: 500px)
{
	.header h1
	{
		text-align: center;
	}
}
