// Main Swatch

.main_swatch
{
		width: 500px;
		height:100px;
		background: yellow;

}

// General Formatting

html, body
{
margin: 0;
padding: 0;
height:100%;
}

@media (max-width: 500px)
{
	.header h1
	{
		text-align: center;
	}
}
